!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Web Rebels
    meta(name="description", content="Web Rebels &mdash; 24th&ndash;25th May 2012")
    meta(name="author", content="Web Rebels")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather:400,900")
    link(rel="stylesheet", href="/css/local.css")
    script(type="text/javascript")
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-26864429-1']); _gaq.push(['_setDomainName', 'webrebels.org']); _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  body
    div
     h1 Web Rebels
     p 24th&ndash;25th May 2012, Oslo, Norway
