!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Web Rebels
    meta(name="description", content="Web Rebels &mdash; 24th&ndash;25th May 2012")
    meta(name="author", content="Web Rebels")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather:400,900")
    link(rel="stylesheet", href="/css/local.css")
  body
    div
     h1
      span.stupid-font W
      | eb Rebels
     p 24th&ndash;25th May 2012
