!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Sponsoring the Web Rebels Conference
    meta(name="description", content="Web Rebels &mdash; 24th&ndash;25th May 2012")
    meta(name="author", content="Web Rebels")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather:400,900")
    link(rel="stylesheet", href="/css/local.css")
  body
   h2 Sponsoring the Web Rebels
   p If you would like to contribute to this community conference by being one of our proud sponsors you are most welcome to do so. 
   | All you need to do is to send us an email kontoret@webrebels.org
   
   p All of our sponsors contribute with 25 000 NOK and here is what they all get:
   ul
    li Your logo on our website
    li Your logo in all printed material such as posters, flyers, etc
    li Honorable mention and your logo shown on opening and closing speaches
    li The right to use the conference name in promoting your business

  p If you have any questions or would like to contribute to this conference by being a sponsor contact us kontoret@webrebels.org
   script(type="text/javascript")
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-26864429-1']); _gaq.push(['_setDomainName', 'webrebels.org']); _gaq.push(['_trackPageview']);
    (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
