@import 'nib'

global-reset()

html
  height 100%

body
  height 100%
  margin 0
  background-color black
  background-image -webkit-radial-gradient(50% 50%, circle closest-corner, rgb(64, 64, 64), rgb(0, 0, 0) 100%)
  background-image    -moz-radial-gradient(50% 50%, circle closest-corner, rgb(64, 64, 64), rgb(0, 0, 0) 100%)
  background-image      -o-radial-gradient(50% 50%, circle closest-corner, rgb(64, 64, 64), rgb(0, 0, 0) 100%)
  background-image     -ms-radial-gradient(50% 50%, circle closest-corner, rgb(64, 64, 64), rgb(0, 0, 0) 100%)
  background-image         radial-gradient(50% 50%, circle closest-corner, rgb(64, 64, 64), rgb(0, 0, 0) 100%)
  color white
  font 16pt "Merriweather", serif
  text-shadow black 0px 1px 0px, rgba(0, 0, 0, 0.2) 0 2px 5px

div
  position absolute
  top 50%
  width 100%
  margin -5em 0 0 0
  text-align center

h1
  font 5em "Abril Fatface", serif
  letter-spacing 0em
  text-shadow black 0px 1px 0px, rgba(0, 0, 0, 0.8) 0 2px 5px

h1:first-letter
  letter-spacing -.12em

