div#about.wrapper
  div.left
    h1 About the conference
    p Read our shiny sales pitch.
  div.right
    p The Web Rebels conference is a non-profit, community driven conference for everyone who loves programming applications and services using web technology. We are very excited to host this community event and we welcome all of our friends around the world who share our passion.
    p We love all things related to developing on and for the web: the cornerstones today like JavaScript and standards, new languages such as ClojureScript, potentially disruptive technology like PhoneGap or WebGL, and the tools we use to create amazing experiences. These are some of the topics amazing people from all over the world will speak about at our conference!
  div(style="width: 970px; clear: both")
