!!! 5
html(lang="en")
  include ../views/head
  body
    div#pagewrapper
      div#frontpage
        include ../views/menu
        h1
          img(src="/images/big-logo.png", alt="Web Rebels")
        p 24th&ndash;25th May 2012
      div#about.wrapper
        div.left
          h1 All web, all the time
          p
            a(href="https://twitter.com/web_rebels", class="twitter-follow-button", data-show-count="false", data-lang="en", data-size="large") Follow @web_rebels
            script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        div.right
          p Web Rebels: a conference about the Future.
          p
            | HTML5? HTML5 is old. In the Future, we're already building
            | apps on WebGL. In the Future, the JavaScript runtime is just a
            | compilation target for all kinds of shiny moustache-free
            | languages. In the Future, Node is a stable, production ready platform.
          p In the Future, 
            i we'll have those goddamn jetpacks they promised us.
          p.emphasis
            | Join us in Oslo on the 24th&ndash;25th of May 2012 and learn all about it!
        div(style="width: 970px; clear: both")

