div#about.wrapper
  div.left
    h1 Sponsors
    p How you contribute as a sponsor
  div.right
	h2 Sponsoring the Web Rebels
	p If you would like to contribute to this community conference by being one of our proud sponsors you are most welcome to do so. 
	| All you need to do is to send us an email kontoret@webrebels.org
	p All of our sponsors contribute with 25 000 NOK and here is what they all get:
	ul
		li Your logo on our website
		li Your logo in all printed material such as posters, flyers, etc
		li Honorable mention and your logo shown on opening and closing speaches
		li The right to use the conference name in promoting your business
p If you have any questions or would like to contribute to this conference by being a sponsor contact us kontoret@webrebels.org
